:focus {
  outline: none;
}

.content {
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid #929fba;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;

  transition: width 0.8s;
  /* visibility: hidden; */
  height: 1px;
}

.input:focus ~ .border {
  width: 100%;
  border-bottom: 0;

  background-color: rgba(0, 0, 0, 0) !important;

  /* visibility: visible; */
  /* transition: visibility 0.5s; */
  /* transition: 0.5s ease-in-out; */
  /* display: block; */
}

.border {
  border: 1px solid #4285f4 !important;
}
